@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,900;1,600&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

@media (min-width: 1280px) {
  * {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
  }

  .container {
    padding-left: 8.472vw;
    padding-top: 1.458vw;
  }

  /* first section */
  .first {
    display: flex;
    flex-direction: column;
  }

  .first-container {
    width: 100%;
  }

  .first-logo img {
    width: 100%;
    height: 5vw;
    margin-top: 1.4vw;
  }

  .first-logo {
    width: 7.8vw;
    height: 10vw;
  }

  .first-icons {
    display: flex;
    width: 100%;
    gap: 30px;
    font-family: Roboto;
    font-size: 1.3vw;
    margin-top: 6.9vw;
  }

  .first-icons img {
    width: 1.5vw;
  }

  .online-course,
  .date,
  .hours {
    display: flex;
    width: 10vw;
  }

  .first-icons .image {
    margin-right: 0.7vw;
  }

  .first-h1 {
    width: 40vw;
    font-size: 5.556vw;
    font-family: Roboto Slab;
    font-weight: bold;
    margin-top: 2vw;
  }

  .first-info {
    width: 40vw;
    font-family: Roboto;
    font-size: 1.8vw;
    font-weight: 400;
    margin-top: 1.2vw;
    line-height: 150%;
  }

  .produser-div {
    height: 47vw;
    width: 39vw;
  }

  .produser-tablet {
    display: flex;
    gap: 14vw;
  }

  .produser-div img {
    height: 100%;
    width: 26vw;
  }

  .background-blue {
    background-color: #1e4681;
    width: 34vw;
    color: white;
    margin-bottom: 12.292vw;
    margin-left: 20vw;
    padding: 1.3vw 1.8vw 2vw 1.8vw;
  }

  .andrei {
    margin-left: 18vw;
    width: 26vw;
    margin-top: 1.1vw;
    font-size: 1.4vw;
    font-family: Roboto;
  }

  .quote {
    font-size: 1.8vw;
    font-family: Roboto Slab;
  }
  /* !first section end */

  /* second section  */

  .kurs-wrapper {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .kurs-container {
    font-family: "Roboto";
    width: 100%;
  }
  .kurs-header {
    width: 100%;
    height: 6.5vw;
  }
  .kurs-header h1 {
    font-family: "Roboto Slab";
    font-size: 3.819vw;
    line-height: 101.38%;
  }
  .kurs-main {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .kurs-main-info {
    width: 45.972vw;
    height: 26.667vw;
  }
  .kurs-main-info p {
    font-size: 1.6vw;
    line-height: 150%;
  }
  .kurs-img {
    width: 21.8vw;
    height: 21.87vw;
    margin-right: 10.625vw;
  }
  .kurs-bottom {
    display: flex;
    justify-content: space-around;
    padding-top: 6.528vw;
    width: 80%;
  }
  .kurs-bottom-info {
    margin-top: 20px;
    padding: 10px;
    width: 10.417vw;
  }
  .kurs-bottom-info h3 {
    font-size: 1.736vw;
    line-height: 130%;
  }
  .kurs-bottom-info p {
    margin-top: 5px;
    min-width: 100px;
    height: 2.7vw;
    font-size: 1.25vw;
    line-height: 130%;
  }
  .kurs-bottom-img {
    display: flex;
    width: 16.11vw;
    height: 14.09vw;
  }

  /* !second section end */

  /* third section  */

  .third {
    display: flex;
    padding-top: 12.361vw;
  }
  .format {
    display: flex;
    flex-direction: column;
  }
  .format-text {
    display: flex;
    margin-top: 4vw;
    margin-bottom: 4vw;
  }
  .format-title {
    width: 46vw;
    font-weight: 700;
    font-family: "Roboto Slab";
    font-size: 3.8vw;
    margin-bottom: 6.181vw;
  }
  .ft {
    padding-right: 8.472vw;
  }

  .ft-content {
    font-weight: 700;
    font-family: "Roboto";
    font-size: 1.7vw;
    color: #1e4681;
  }
  .ft-text {
    width: 15vw;
    font-family: "Roboto";
    font-size: 1.6vw;
    width: 18vw;
  }
  .etap {
    padding-top: 17.292vw;
  }
  .etap-title {
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 3.8vw;
    padding-bottom: 2vw;
  }
  .etap-list {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.736vw;
    line-height: 150%;
    height: 26.111vw;
    width: 46.25vw;
    margin-bottom: 17.083vw;
  }

  /* !third section end */

  /* fourth section */
  .section-program {
    padding-bottom: 8.403vw;
  }

  .section-program > h2 {
    width: 62.847vw;
    height: 10vw;
    font-size: 3.819vw;
    line-height: 101.38%;
    padding-bottom: 2.847vw;
    padding-left: 2.361vw;
  }

  .kurs-programs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .kurs-programs-item {
    width: 30%;
    margin-bottom: 2.847vw;
    margin-right: 2.569vw;
    height: 25vw;
    background: #ffffff;
    box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
    border-radius: 2.083vw;
    display: flex;
    flex-direction: column;
  }

  .kp-img {
    width: 100%;
    height: max-content;
    border-radius: 2.083vw;
  }

  .kp-img > img {
    width: 100%;
  }

  .kp-text {
    height: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6%;
    padding-bottom: 10px;
  }

  .kp-text > h4 {
    max-width: max-content;
    height: 2.778vw;
    font-size: 2.083vw;
    line-height: 130%;
  }

  .kp-text > p {
    padding-top: 3vw;
    font-size: 1.736vw;
    line-height: 130%;
  }
  /* !fourth section end */

  /* fifth section */

  .section5 {
    display: flex;
    background-color: #efefef;
    flex-direction: column;
    padding-top: 6.319vw;
    padding-bottom: 13vw;
    padding-left: 6vw;
  }

  .section5-title {
    width: 68.681vw;
  }

  .section5-title h1 {
    font-family: Roboto Slab;
    font-weight: 700;
    color: #000;
    font-size: 3.819vw;
    padding-bottom: 2.361vw;
  }

  .section5-content {
    display: flex;
    flex-direction: column;
    width: 54.931vw;
    height: 31.319vw;
    background-color: #fff;
    box-shadow: 0.13vw 0.13vw 2.6vw rgba(0, 0, 0, 0.25);
    border-radius: 3.73vw;
  }

  .section5-txt {
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.389vw;
    color: #000;
    padding: 3.125vw;
    padding-bottom: 1vw;
  }

  .section5-down {
    display: flex;
    align-items: center;
    padding-left: 1vw;
    height: 17vw;
  }

  .ekaterina-img {
    width: 13.194vw;
    height: 25vw;
    padding-top: 20px;
  }

  .section5-aside {
    display: flex;
    flex-direction: column;
    padding: 3vw;
  }

  .section5-asidetxt {
    font-weight: 700;
    font-size: 2.083vw;
  }

  .section5-aside {
    padding: 10vw;
    padding-left: 2.083vw;
  }

  .section5-fb {
    width: 4vw;
    height: 4vw;
    padding-top: 10px;
  }

  /* !fifth section end */

  /* sixth section  */

  .sixth {
    background-color: #9dc9c8;

    padding-top: 12.431vw;
    padding-bottom: 16.5vw;
  }

  .sixth-container h1 {
    width: 55.2vw;
    margin-bottom: 7.2vw;
    font-size: 3.8vw;
    font-family: Roboto Slab;
  }

  .sixth-container {
    padding-left: 8.472vw;
  }

  .fs-12 {
    font-size: 1.7vw;
  }

  .six-down {
    font-size: 5.6vw;
  }

  .six-content {
    display: flex;
    gap: 5vw;
    margin-top: 3.7vw;
  }

  .w-140 {
    width: 20.5vw;
    font-size: 1.25vw;
  }

  .six-content .fs-12 {
    margin-top: 1.1vw;
  }

  .six-right,
  .six-left {
    display: flex;
    flex-direction: column;
    gap: 1.1vw;
  }
  /*! sixth section end */

  /* seventh section */
  footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    height: 27.083vw;
    min-height: 260px;
    font-size: 2.5vw;
    position: relative;
  }
  .adress img {
    width: 1.1vw;
    height: 1.9vw;
  }
  .adress {
    padding-top: 0.7vw;
    display: flex;
    padding-right: 7vw;
    flex-direction: column;
    font-size: 1.736vw;
  }
  .f-icons {
    display: flex;
  }

  .f-icons > img {
    height: 2vw;
    width: 2vw;
    margin-right: 20px;
    margin-bottom: 1vw;
  }

  .icon {
    padding-left: -10px;
    display: flex;
    padding-top: 1.19vw;
  }

  .icon > img {
    height: 3vw;
    width: 3vw;
    padding-right: 1vw;
  }

  .author {
    position: absolute;
    bottom: 3vw;
    margin-left: 8.4vw;
    font-size: 1.25vw;
  }
  .logo-img {
    width: 7.986vw;
    height: 4.722vw;
  }

  .footer-section {
    height: 90%;
    display: flex;
    justify-content: space-between;
    margin-left: 8.4vw;
    margin-right: 10vw;
    margin-top: 3.35vw;
  }

  /* !seventh section end */
}
