@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,900;1,600&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


@media screen and (min-width:1400) {
    .program-text >h1{
       
width: 421.7px;
height: 43.34px;
font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 101.38%;
/* or 26px */


color: #000000;
    }



    
}