@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media screen and (min-width : 320px) and (max-width: 991px) {
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}  
footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 32vw;
    min-height: 260px;
    padding-top: 9vw;
    padding-bottom: 10vw;
    padding-left: 46px;
    font-size: 2.5vw;
    position: relative;
  }
  .logo {
    padding-bottom: 30px;
  }

  .adress {
    padding-bottom: 30px;
  }

  .icon {
    display: flex;
    padding-bottom: 3vw;
  }

  .icon > img {
    padding-right: 12px;
    height: 4vw;
  }

  .author {
    position: absolute;
    bottom: 20px;
  }

  .footer-section {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.pk-text {
  display: flex;
  flex-direction: column;
  padding: 2px 3px;
}