@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width:992px) and (max-width:1279px){
    .third-container{
        display: flex;
        flex-direction: column;
    }
    .third{
        display: flex;
    }
    .format-title{
        width: 46%;
        font-family: Robot Slab;
        font-size: 2em;
        font-weight: bold;
        line-height: 101.38%;
        color: #000;
    }
    .format-text{
        display: flex;
        width: 68%;
        gap: 46px;
    }
    .vebinar-content{
        color: #1e4681;
        width: 4.36vw;
    }
