@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
  .container {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 7%;
  }

  /* THIRD SECTION */
  .third-container {
    display: flex;
    flex-direction: column;
  }
  .third {
    display: flex;
  }
  .format-title {
    width: 46%;
    font-family: Robot Slab;
    font-size: 2em;
    font-weight: bold;
    line-height: 101.38%;
    color: #000;
  }
  .format-text {
    display: flex;
    width: 68%;
    gap: 46px;
  }
  .vebinar-content {
    color: #1e4681;
    width: 4.36vw;
  }

  /* AYSEL SECTION */

  .section-program > h2 {
    width: 524.15px;
    height: 53.86px;

    font-size: 32px;
    line-height: 101.38%;
    padding-bottom: 75px;
    padding-left: 30px;
  }

  .kurs-programs {
    display: flex;
    align-items: center;
    padding-left: 10%;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .kurs-programs-item {
    min-width: 220px;
    width: 25%;
    margin-bottom: 35px;
    margin-right: 30px;
    height: 188px;
    background: #ffffff;
    box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
    border-radius: 13.9792px;
    display: flex;
    flex-direction: column;
  }

  .kp-img {
    width: 100%;
    height: 92.67px;
    border-radius: 17.375px;
  }

  .kp-img > img {
    width: 100%;
  }

  .kp-text {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6%;

    padding-bottom: 5px;
  }

  .kp-text > h4 {
    max-width: max-content;
    width: 220px;
    height: 22.59px;
    font-size: 17px;
    line-height: 130%;
  }

  .kp-text > p {
    width: 211.4px;
    height: 36.49px;
    font-size: 14px;
    line-height: 130%;
  }


    .third-container{
        display: flex;
        flex-direction: column;
    }
    .third{
        display: flex;
    }
    .format-title{
        width: 46%;
        font-family: Robot Slab;
        font-size: 2em;
        font-weight: bold;
        line-height: 101.38%;
        color: #000;
    }
    .format-text{
        display: flex;
        width: 68%;
        gap: 46px;
    }
    .vebinar-content{
        color: #1e4681;
        width: 4.36vw;
    }



    .first{
        display: flex;
        flex-direction: column;  

    }
    .first-container{
        width: 100%;
        
        
    
    }
    
    .first-logo img{
        width: 7.8vw;
        height: 4.6vw;
        margin-top: 2.5vw;
    
    
    
    }
    .first-icons{
        display: flex;
        gap: 30px;
        font-family: Roboto;
        font-size: 1.4vw;
        width: 37vw;
        margin-top: 5.7vw;
        
    
    }
    .first-icons img{
        width: 1.4vw;
    }
    .online-course,.date,.hours{
        display: flex;
        width: 33%;
        
    }
    .first-icons .image{
        margin-right: 0.7vw;
    }
    .first-h1{
        width: 40vw;
        font-size: 5.5vw;
        font-family: Roboto Slab;
        font-weight: bold;
        margin-top: 0.9vw;
        
    
    }
    .first-info{
        width: 32vw;
        font-family: Roboto;
        font-size: 1.4vw;
        font-weight: 400;
        margin-top: 1.7vw;
        line-height: 150%;
        
    }
    .produser-div{

        height: 25vw;
        width: 21vw;

    
    }
    .produser-tablet{
        display: flex;
        gap: 13.7vw;
    }


    .produser-div img{
        height: 100%;
        width: 21vw;

    }
    .background-blue{
        background-color: #1E4681;
        width: 34vw;
        color: white;
        margin-top: 9vw;
        
        margin-left: 27vw;
        padding:  1.3vw 1.5vw 4vw 1.3vw;
    
    }
    .andrei{
        margin-left: 14vw; 
        width: 26vw;
        margin-top: 9px;
        font-size: 1.4vw;
        font-family: Roboto;
    
    
    }
    .quote{
        
        font-size: 1.7vw;

        font-family: Roboto Slab;
    }
    .sixth-container h1{
        width: 55.4vw;
        
        margin-bottom: 3.6vw;
        font-size: 3.8vw;
        font-family: Roboto Slab;
    }
    .sixth-container{
        padding-left: 5vw;
    }
    .fs-12{
        font-size: 1.7vw;
    }
    .six-down{
        font-size: 5vw;

    }
    .six-content{
        display: flex;
        gap: 5vw;
        margin-top: 5vw;
        


    }
    .w-140{
        width: 22vw;
    }
    .six-content .fs-12{
        margin-top: 1.1vw;
    }
    .six-right,.six-left{
        display: flex;
        flex-direction: column;
        gap: 1.1vw;
        width: 25vw;
    }
    .kurs-wrapper {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        
      }
      .kurs-container {
        font-family: 'Roboto';
        width: 100%;
      
      }
      .kurs-header {
        width: 100%;
        height: 5.2vw;
      }
      .kurs-header h1{
        font-family: 'Roboto Slab';
        font-size: 3.1vw;
        line-height: 102%;
      }
      .kurs-main {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
      .kurs-main-info {
        width: 60vw;
        height: 100%;
       
      }
      .kurs-main-info p {
        font-size: 1.4vw;
        line-height: 150%;
      }
      .kurs-img {
        width: 20.62vw;
        height: 19.42vw; 
      }
      .kurs-bottom {
        display: flex;
        justify-content: space-between;
      }
      .kurs-bottom-info {
        margin-top:20px;
        padding: 10px;
      }
      .kurs-bottom-info h3{
        font-size: 1.6vw;
        line-height: 130%;
      }
      .kurs-bottom-info p {
        margin-top: 5px;
        min-width: 100px;
        height: 18px;
        font-size: 1.43vw;
        line-height: 130%;
      }
      .kurs-bottom-img {
        display: flex;
        width:16.11vw;
        height:14.09vw;
      }
     
     
        .kurs-wrapper {
          display: flex;
          justify-content: center;
          box-sizing: border-box;
          padding: 0;
          margin: 0;
          
        }
        .kurs-container {
          font-family: 'Roboto';
          width: 100%;
        
        }
        .kurs-header {
          width: 100%;
          height: 6.5vw;
        }
        .kurs-header h1{
          font-family: 'Roboto Slab';
          font-size: 3.8vw;
          line-height: 101.38%;
        }
        .kurs-main {
          display: flex;
          width: 100%;
          justify-content: space-between;
        }
        .kurs-main-info {
          width: 65vw;
          height: 100%;
        }
        .kurs-main-info p {
          font-size: 1.6vw;
          line-height: 150%;
        }
        .kurs-img {
          width: 21.80vw;
          height: 21.87vw; 
        }
        .kurs-bottom {
          display: flex;
          justify-content: space-between;
        }
        .kurs-bottom-info {
          margin-top:20px;
          padding: 10px;
        }
        .kurs-bottom-info h3{
          font-size: 1.7vw;
          line-height: 130%;
        }
        .kurs-bottom-info p {
          margin-top: 5px;
          min-width: 100px;
          height: 2.7vw;
          font-size: 1.25vw;
          line-height: 130%;
        }
        .kurs-bottom-img {
          display: flex;
          width: 16.11vw;
          height: 14.09vw;
        }

    }
    


    



